//- index.pug
doctype html
html
  head
    title Siddharth Dance Acadamy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png", alt="", srcset="")
                | SDA
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/") Contact Us] 
    
    section#introsection
        div Wel-Come to Siddharths's Dance Acadamy
        div.small eat sleep dance repeat
    section#missionsection
        h2 Our mission
        div.card
            h3 Dance perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p this is best dance acadamy of the universe
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p this is best dance acadamy of the universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p this is best dance acadamy of the universe
    section#sponsorsection
        h2 Our Sponsor
        div#sponsors
            img(src="/static/img/logo1.png", alt="sponsors image", class="spImage")
            img(src="/static/img/logo2.png", alt="sponsors image", class="spImage")
            img(src="/static/img/logo3.png", alt="sponsors image", class="spImage")
            img(src="/static/img/logo4.png", alt="sponsors image", class="spImage")
    footer#footer
        |   Copyright @ 2020 SiddharthDanceAcadamy.Com | All Rights Reserved
    
    script
      include ../static/index.js